table {
    margin-left: 150px;

}


td {
    width: 200px;
}

#textos {
    text-align: right;
    font-weight: bold;
}

#valores {
    text-align: center;
    font-weight: bold;
}

#formAviso {
    margin-left: 150px; 
   
}

#aviso {
    width: 1230px;
    color: rgb(39, 38, 39);
    font-size: large;
    font-family: cursive;
    background-color: beige;
    border-collapse: separate;
    text-align: center;
    font-weight: bold;  
}

#vaciar {
    text-align: center;
    font-weight: bold;
}

button {
    color: rgb(39, 38, 39);
    font-size: large;
}

#pieForm {

    color: rgb(39, 38, 39);
    font-size: large;
    font-family: cursive;
    background-color: beige;
    border-collapse: separate;

}