#imagenDetalle {
  width: 100px;
  height: 100px;

}

#divDetalle {
  border: rgb(245, 238, 250) 8px outset;
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: rgb(232, 250, 251);
  margin: 0 auto;
}

p {
  color: rgb(39, 38, 39);
  font-family: cursive;
  font-size: large;
}


h1 {
  color: rgb(39, 38, 39);
  font-family: cursive;
  font-weight: bold;
}

h2 {
  color: rgb(39, 38, 39);
  font-family: cursive;
  font-size: medium;
  font-weight:normal;
}